@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

@theme{
  --color-background: #000000;
  --color-text: #ffffff;
}
@keyframes typing{
  from{
    width: 0ch;
  }
  to{
    width: 15ch;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.continuous{
  white-space: nowrap;
  border-right: 2px solid white; 
  width: 0;
  animation: typing 3s steps(20) forwards, blink 0.75s step-end infinite;
}